.cursor-follower{
    background-color: var(--neon-green-transperent);
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    -khtml-border-radius: 50%;
    border-radius: 50%;
    height: 1.8rem;
    overflow: hidden;
    position: absolute;
    pointer-events: none;
    transform: translate3d(1142px, 201px, 0px);
    width: 1.8rem;
    -webkit-transition: transform 1s cubic-bezier(.02,1.2,.8,1),opacity .25s ease;
    transition: transform 1s cubic-bezier(.02,1.2,.8,1),opacity .25s ease;
    z-index: 2;
}

@media screen and (max-width: 48rem){
    .cursor-follower{
        display: none;
    }
};